<div class="navbar">
  <div class="logo_bar">
    <a class="fas fa-brain" id="logo"
    href="/"></a>
  </div>
  <div class="nav_bar">
    <li id="element" routerLink="/comingsoon"
    routerLinkActive="active">Learn</li>
    <a id="element" href="/buildmodel"
    routerLinkActive="active">Build</a>
    <li id="element" routerLink="/comingsoon"
    routerLinkActive="active">Help</li>
  </div>
  <div class="login_bar">
    <div class="bag">
      <li class="fas fa-sign-in-alt">
        <p id="tooltip">Sign-In</p>
      </li> |
      <li class="fas fa-user-plus">
        <p id="tooltip">Sign-Up</p>
      </li> |
      <li class="fas fa-user-secret">
        <p id="tooltip">Guest</p>
      </li>
    </div>
  </div>
</div>



