<div class="navbar">
  <div class="logo_bar">
    <li class="fas fa-brain" id="logo"></li>
  </div>
  <div class="nav_bar">
    <li id="element">Learn</li>
    <li id="element">Build</li>
    <li id="element">Help</li>
  </div>
  <div class="login_bar">
    <div class="bag">
      <li class="fas fa-sign-in-alt">
        <p id="tooltip">Sign-In</p>
      </li> |
      <li class="fas fa-user-plus">
        <p id="tooltip">Sign-Up</p>
      </li> |
      <li class="fas fa-user-secret">
        <p id="tooltip">Guest</p>
      </li>
    </div>
  </div>
</div>



